/* =====***** common css starts *****===== */
*{
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: center;
}

@black: #222222;
@white: #f1f1f1;
@hovercolor: #d6c6b2;
@opensans:'Open Sans', sans-serif;
@abril: 'Abril Fatface', cursive;
/* =====***** common css ends *****===== */


/* =====***** navbar section css starts *****===== */
.navbar {
    position: absolute;
    top: 30px;
    z-index: 9999999999;
    width: 100%;
    .nav-content {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    font-family: @opensans;
                    font-weight: 600;
                    font-size: 20px;
                    text-transform: capitalize;
                    padding: 10px 15px;
                    color: #222;
                    transition: all linear 0.5s;

                    &:hover {
                        color: black;
                        background: @hovercolor;
                    }
                }
            }
        }
    }
}
/* =====***** navbar section css ends *****===== */


/* =====***** banner section css starts *****===== */
#banner-bg {
    background: #e6eef0;
    padding-bottom: 90px;
    .banner-content {
        position: relative;
        .item-3 {
            text-align: right;
            position: absolute;
            top: 260px;
            right: 300px;

            p {
                font-size: 20px;
                color: @black;
                font-family: @abril;
                text-transform: capitalize;
                margin-bottom: 0 !important;
            }
            h3 {
                font-size: 102px;
                color: @black;
                font-family: @abril;
                font-weight: 400;
                text-transform: capitalize;
                margin-bottom: 0 !important;
            }
            h2 {
                font-size: 85px;
                color: @black;
                font-family: @abril;
                font-weight: 400;
                text-transform: capitalize;
                margin-bottom: 0 !important;
            }
            a {
                font-size: 16px;
                color: @hovercolor;
                font-family: @opensans;
                font-weight: 600;
                line-height: 24px;
                text-transform: capitalize;
                margin-bottom: 0 !important;
                padding: 15px 20px;
                border: 1px solid @hovercolor;
                margin-top: 40px;
                display: inline-block;
                transition: all linear 0.4s;
                &:hover {
                    background: @hovercolor;
                    color: @black;
                }
                &:last-of-type {
                    margin-left: 30px;
                    padding: 15px 40px;
                }
            }
        }
    }
}
/* =====***** banner section css ends *****===== */


/* =====***** about section css starts *****===== */
#about-bg {
    padding-top: 200px;
    .item-2 {
        .about-text {
            padding-top: 25px;
            .about-head {
                h4 {
                    font-size: 32px;
                    color: @black;
                    font-family: @abril;
                    font-weight: 400;
                    line-height: 24px;
                    text-transform: capitalize;
                    margin-bottom: 0 !important;
                }
            }
            .about-details {
                p {
                    font-size: 14px;
                    color: @black;
                    font-family: @opensans;
                    font-weight: 400;
                    line-height: 24px;
                    text-transform: capitalize;
                    margin-bottom: 0 !important;
                    &:first-of-type {
                        padding-top: 65px;
                    }
                    &:last-of-type {
                        padding-top: 35px;
                        padding-bottom: 60px;
                    }
                }
            }
            .about-social {
                .sub-head {
                    h5 {
                        font-size: 24px;
                        color: @abril;
                        font-family: @abril;
                        font-weight: 400;
                        line-height: 24px;
                        text-transform: capitalize;
                        margin-bottom: 0 !important;
                    }
                }
                .icon {
                    ul {
                        padding-left: 0 !important;
                        display: flex;
                        margin-top: 30px;
                        li {
                            width: 40px;
                            height: 40px;
                            border: 1px solid #353535;
                            border-radius: 50%;
                            text-align: center;
                            line-height: 40px;
                            margin-right: 20px;
                            transition: all linear 0.5s;
                            &:hover {
                                background: @hovercolor;
                                box-shadow: 3px 3px 5px @hovercolor;
                            }
                            a {
                                color: @black;
                                font-size: 22px;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* =====***** about section css ends *****===== */

/* =====***** service section css starts *****===== */
#service-bg {
    background: #f8f8f8;
    padding-top: 50px;
    padding-bottom: 150px;
    position: relative;
    .prevarrow {
        width: 50px;
        height: 50px;
        border: 2px solid @hovercolor;
        border-radius: 50%;
        text-align: center;
        line-height: 50px;
        font-size: 32px;
        position: absolute;
        left: -100px;
        top: 50%;
        transform: translate(50%);
    }
    .nextarrow {
        width: 50px;
        height: 50px;
        border: 2px solid @hovercolor;
        border-radius: 50%;
        text-align: center;
        line-height: 50px;
        font-size: 32px;
        position: absolute;
        right: -100px;
        top: 50%;
        transform: translate(50%);
    }
    .service-head {
        h4 {
            font-size: 32px;
            color: @black;
            font-family: @abril;
            font-weight: 400;
            line-height: 24px;
            text-transform: capitalize;
            margin-bottom: 0 !important;
            padding-bottom: 60px;
        }
    }
    .service-slider {
     .item {
         text-align: center;
         margin-top: 50px;
         .sub-head {
             h5 {
                 font-size: 22px;
                 color: @black;
                 font-family: @opensans;
                 font-weight: 600;
                 line-height: 24px;
                 text-transform: capitalize;
                 margin-bottom: 0 !important;
                 padding-top: 30px;
             }
         }

         .box-details {
             p {
                 font-size: 14px;
                 color: @black;
                 font-family: @opensans;
                 font-weight: 400;
                 line-height: 24px;
                 text-transform: capitalize;
                 padding-top: 32px;
                 padding-right: 20px;
                 padding-left: 20px;
             }
         }
     }
 }
}
/* =====***** service section css ends *****===== */

/* =====***** portfolio section css starts *****===== */
#portfolio-bg {
    margin-top: 100px;
    .filter-item {
        .sub-head {
            h5 {
                font-size: 32px;
                color: @black;
                font-family: @abril;
                font-weight: 600;
                line-height: 24px;
                text-transform: capitalize;
                margin-bottom: 0 !important;
            }
        }

        .filtter-section {
            ul {
                padding-left: 0 !important;

                li {
                    font-size: 20px;
                    color: @black;
                    font-family: @opensans;
                    font-weight: 600;
                    line-height: 24px;
                    text-transform: capitalize;
                }
            }
        }
    }
    .item-1 {
        margin-bottom: 30px;
    }
    .item-2 {
        margin-bottom: 30px;
    }
    .item {
        position: relative;
        overflow: hidden;
        
        &:hover {
            .overlay {
                top: 0;
            }
        }
        .overlay {
            width: 100%;
            height: 100%;
            background: rgba(218, 188, 172, 85%);
            position: absolute;
            top: 0;
            left: 0;
            transition: all linear 0.5s;
            display: flex;
            justify-content: center;
            align-items: center;
            .text {
                text-align: center;
                a {
                    font-size: 22px;
                    color: white;
                    i {
                        width: 50px;
                        height: 50px;
                        background: @black;
                        border: 1px solid #353535;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 50px;
                        margin-top: 150px;
                    }
                }
                p {
                    font-size: 22px;
                    color: @black;
                    font-family: @opensans;
                    font-weight: 600;
                    line-height: 24px;
                    text-transform: capitalize;
                    margin-bottom: 0 !important;
                    &:first-of-type {
                        padding-top: 125px;
                    }
                    &:last-of-type {
                        font-size: 16px;
                        padding-top: 20px;
                    }
                }
            }
        }
    }
}
/* =====***** portfolio section css ends *****===== */